html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#data:hover{
  overflow: visible; 
  white-space: normal; 
  width: auto;
 
}

.ExcelTable2007 {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 10px;
}

.ExcelTable2007 TD {
	border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.ExcelTable2007 TD.heading {
	background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	font-weight: bold;
}



TH {
	text-align: center;
}

.jumbotron-background {
	
	border-radius: 0rem !important;
	color: white
}

.jumbotron-button {
	color: #fff !important;
	background-color: transparent !important;
	border-color: lightgrey !important;
}

.jumbotron-button:hover {
	color: #fff !important;
	background-color: #5a6268 !important;
	border-color: #545b62 !important;
}

.restrict-card {
	height: 175px;
	overflow-y: overlay;
}

.card {
    width: 100%;
    min-width: 120px !important;
    margin: 20px;
  }
  .view {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #000;
  }
  .inputStyle {
	width: 1.8rem !important;
	height: 2rem;
	margin: 0 .5rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  @media only screen and (max-width: 678px) {
	.container {
	  flex-wrap: wrap;
	  flex-direction: column;
	}
  
	.side-bar {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	}
  
	.side-bar__segment--header {
	  text-align: center;
	}
  
	.side-bar__segment--bottom {
	  position: static !important;
	  margin: 10px;
	}
  
	label {
	  display: block;
	  float: left;
	  width: 120px;
	}
  
	.card {
	  width: 100%;
	  min-width: 120px !important;
	  margin: 20px;
	}
  
	.side-bar__segment > label > input[type='number'],
	.side-bar__segment > label > input[type='text'] {
	  width: 180px !important;
	}
  }
  
  @media only screen and (max-width: 470px) {
	.margin-top--small .inputStyle {
	  width: 2rem !important;
	  height: 2rem;
	  margin: 0 5px;
	  font-size: 1rem;
	}
  
	.card > form > p {
	  font-size: 1.2em !important;
	}
  }
  
  .side-bar__segment {
	padding: 0.5rem 1rem;
  }
  
  .side-bar__segment--header {
	margin: 1rem 0;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
  }
  
  .side-bar__segment--header:hover {
	background-color: rgba(0, 0, 0, 0.1);
  }
  
  .side-bar__segment--bottom {
	font-weight: bold;
	position: absolute;
	bottom: 2rem;
  }
  
  .view {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #f2f2f3;
  }
  
  .side-bar__segment > label > input[type='number'],
  .side-bar__segment > label > input[type='text'] {
	width: 150px;
	border-radius: 4px;
	border: 1px solid lightgrey;
	margin: 0.5rem 0;
	height: 1.5rem;
	padding: 0 0.5rem;
  }
  
  .side-bar__segment > label > input[type='checkbox'] {
	border-radius: 4px;
	border: 1px solid lightgrey;
	margin: 0.5rem;
	width: 1rem;
	height: 1rem;
  }
  
  .card {
	min-width: 360px;
	padding: 2rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	border-radius: 4px;
	background: white;
  }
  
  .card > form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .card > form > p {
	font-size: 1.5em;
	font-weight: bold;
  }
  
  

  .error {
	border: 1px solid red !important;
  }
  .logo{
	margin-left: 5rem;
}
  .agreemeent{
	  margin-left: 5rem;
  }
  .chapter{
	margin-top: 2rem;
}
.whiteTextOverride
{
 color: white !important;
}
.my-class{
content: url("/static/icons/delete_red.png");
width: 10px;
height: 10px;
}



.bgimg {
    background-image: url('/images/lab_image.jpg');
}
